table {
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    color: transparent;
}

.player-1 {
    display: flex;
    gap: 15px;
}

.player-2 {
    display: flex;
    gap: 15px;
}

body {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

/* .targets::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgba(143, 17, 17, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.target::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgba(143, 17, 17, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.kill::before,
.kill::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 5px;
    background-color: black;
    left: -15%;
    border-radius: 15px;
}

.kill::before {
    transform: rotate(45deg);
}

.kill::after {
    transform: rotate(-45deg);
}