table {
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    color: transparent;
    user-select: none;
}

.player-1 {
    display: flex;
    gap: 15px;
}

.player-2 {
    display: flex;
    gap: 15px;
}

body {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.kill::before,
.kill::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 5px;
    background-color: rgb(190, 6, 6);
    left: -15%;
    border-radius: 25px;
    top: 45%;
}

.kill::before {
    transform: rotate(45deg);
}

.kill::after {
    transform: rotate(-45deg);
}