table {
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    color: transparent;
}

.tables {
    display: flex;
    gap: 25px;
}

body {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    background-color: whitesmoke;
}

.kill::before,
.kill::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 5px;
    background-color: rgb(190, 6, 6);
    left: -15%;
    border-radius: 25px;
    top: 45%;
}

.kill::before {
    transform: rotate(45deg);
}

.kill::after {
    transform: rotate(-45deg);
}

button {
    padding: 0;
    background-color: whitesmoke;
    border-radius: 15px;
}

.material-symbols-outlined {
    font-size: 60px;
    color: green;
}

#random,
#start,
#end {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    font-size: 20px;
    gap: 5px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player-1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#userscount span {
    color: green;
}

#table1-container,
#table2-container {
    position: relative;
}

#table2stop,
#table1stop {
    top: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#table1stop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opac {
    opacity: 0.5;
}

.empty {
    background-color: lightblue;
}

.emptyhit {
    position: relative;
    background-color: lightblue;
}

.emptyhit::after {
    content: '\2022';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 50px;
}



#waiting {
    display: none;
    color: white;
    font-size: 30px;
    animation: glow 2s ease-in-out infinite alternate;
}

#gamestate {
    display: none;
    color: white;
    font-size: 40px;
}

#userscount {
    align-self: flex-end;
}

@keyframes glow {
    0% {
        color: white;
    }

    50% {
        color: green;
    }

    100% {
        color: white;
    }
}

@media (max-width: 900px) {
    .material-symbols-outlined {
        font-size: 50px;
    }

    #random,
    #start,
    #end {
        font-size: 16px;
    }
}

@media (max-width: 899px) {
    td {
        width: 30px;
        height: 30px;
    }

    .player-1 {
        gap: 10px;
    }
}

@media (max-width: 700px) {
    .tables {
        flex-direction: column;
        gap: 10px;
    }

    .material-symbols-outlined {
        font-size: 40px;
    }
}