table {
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    color: transparent;
    user-select: none;
}

.player-1 {
    display: flex;
    gap: 15px;
}

.player-2 {
    display: flex;
    gap: 15px;
}

body {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kill::before,
.kill::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 5px;
    background-color: rgb(190, 6, 6);
    left: -15%;
    border-radius: 25px;
    top: 45%;
}

.kill::before {
    transform: rotate(45deg);
}

.kill::after {
    transform: rotate(-45deg);
}

img {
    width: 300px;
}

button {
    padding: 0;
    background-color: white;
    border-radius: 15px;
}

.material-symbols-outlined {
    font-size: 70px;
    color: green;
}

#random,
#start,
#end {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
    font-size: 20px;
    gap: 5px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#userscount span {
    color: green;
}

#table1-container,
#table2-container {
    position: relative;
}

#table2stop,
#table1stop {
    top: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}